<div class="outer">d
  <div class="container">
    <h1>Angular Todo List App</h1>
    <div class="todo-section">
      <input (keydown)="handleEnterNewTask($event)" [(ngModel)]="inputValue" type="text" placeholder="Enter task"> 
      <button (click)="addTask()">+ ADD</button>
  
      <ul>
        <li class="todo-list" *ngFor="let taskObj of todoList">
          <p>{{taskObj.taskName}}</p>
          <fa-icon (click)="tickTask(taskObj.id)" [style.color]="'#4CAF50'" [icon]="faCircleCheck"></fa-icon>
          <fa-icon (click)="removeTask(taskObj.id)" [style.color]="'#F44336'" [icon]="faTrash"></fa-icon>
        </li>
      </ul>
    </div>
  
    <div class="completed-section">
      <h1>Completed Tasks</h1>
      <ul>
        <li class="completed-list" *ngFor="let taskObj of completedList">
          <p>{{taskObj.taskName}}</p>
          <fa-icon (click)="removeCompletedTask(taskObj.id)" [style.color]="'#F44336'" [icon]="faTrash"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
